.title {
    margin-top: 7rem;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.outer-Div {
    overflow: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-style: solid;
    border-color: rgb(48, 64, 80);
    width: fit-content;
    height: 360px;
    position: relative;
    top: 10px;
}

.outer-Div::-webkit-scrollbar {
    width: 10px;
    height: 0;
}

.outer-Div::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.outer-Div::-webkit-scrollbar-thumb {
    background: rgb(87, 86, 86);
}

.outer-Div::-webkit-scrollbar-thumb:hover {
    background: rgb(66, 66, 66);
}

.ais-SearchBox {
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: 2rem;
}

.ais-SearchBox-input {
    border-radius: 30px;
    height: 32px;
    width: 41rem;
    box-sizing: border-box;
    font-size: 16px;
    padding: 12px 20px;
    background-image: url(../../assets/images/searchicon.png);
    background-size: 1rem;
    background-color: white;
    background-position: 10px 7px;
    background-repeat: no-repeat;
    padding: 12px 0 12px 30px;
}

.ais-SearchBox-submit {
    display: none;
}

.ais-SearchBox-reset {
    display: none;
}

ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    width: 46rem;
    padding: 0 0 0 1rem;
}

li {
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
}

/* example of algolia search box */

/* <div class="ais-SearchBox">
  <form class="ais-SearchBox-form" novalidate>
    <input class="ais-SearchBox-input" autocomplete="off" autocorrect="off" autocapitalize="off" placeholder="Search for products" spellcheck="false" maxlength="512" type="search" value="" />
    <button class="ais-SearchBox-submit" type="submit" title="Submit the search query.">
      <svg class="ais-SearchBox-submitIcon" xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 40 40">
        ...
      </svg>
    </button>
    <button class="ais-SearchBox-reset" type="reset" title="Clear the search query." hidden>
      <svg class="ais-SearchBox-resetIcon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" width="10" height="10">
        ...
      </svg>
    </button>
    <span class="ais-SearchBox-loadingIndicator" hidden>
      <svg width="16" height="16" viewBox="0 0 38 38" xmlns="http://www.w3.org/2000/svg" stroke="#444" class="ais-SearchBox-loadingIcon">
        ...
      </svg>
    </span>
  </form>
</div>
*/
