.title {
  margin-top: 3rem;
  color: white;
}

.Kamala-pic-1 {
  height: 30rem;
  width: 50rem;
  color: aliceblue;
}

.outer-Div {
  overflow: hidden;
  overflow: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-style: solid;
  border-color: rgb(48, 64, 80);
  width: 50%;
  height: 360px;
  position: relative;
  top: 10px;
}
