.main_div{
    display: flex;
    justify-content: space-between;
    /* border-style: solid;
    border-color: red; */
    width:100%;
    height:4rem;
    background-color: #e4e0d2;
    overflow: hidden;
}

.Nav-div{
     /* display: flex;
    justify-content: space-between;
    width:20%; */
    width:80%;
    /* border-style: solid;
    border-color: green;
  */

}

.Nav-innderDiv{
    position: relative;
    left: 30%;
    top:20px;
   max-width:25%;
    /* border-style: solid;
    border-color: green; */
    display: flex;
    justify-content: space-between; 
    width:30%

}

