.main_div {
    display: flex;
    height: 4rem;
    overflow: hidden;
    justify-content: flex-end;
    margin: 0 5rem 0 0;
}

.main_div > a {
    margin: 3rem 2rem 0 0;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    /* font-weight: bold; */
    color: rgb(199, 199, 199);
}

.main_div > a:hover {
    color: rgb(0, 17, 255);
}
